dl {
    padding: 0.5em;
    margin: 0;
}
dt {
    margin: 0 0 0 0.5em;
    clear: left;
    width: 100px;
    text-align: left;
    font-weight: bold;
    color: green;
}

dd {
    margin: 0 0 5px 25px;
    padding: 0 0 0 0;
    width: 450px;
    word-break: break-all;
}
/* dd:after {
    content: ";";
}*/
div.main{
    background-color: #fff;
    width: 900px;
    padding: 12px;
    margin-left: auto ;
    margin-right: auto
}
div#chat{
    border: 3px double #ccc;
    overflow-y:scroll;
    overflow-x: hidden;
    height:400px;
    float: left;
}
div#
textarea {
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}